  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  /* Nav color and overflow property in case of content overflow */
  .nav {

   overflow: hidden;
   background-color: #333;

  }

  .nav ul li {

    font-family: 'Roboto Mono', monospace;

   }

   /* Nav bar label styling */
    .nav ul li a {

    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
 
   }

   .nav ul li a:hover {

    color: orangered;
    transition: all 0.5s ease-in-out;
 
   }


   /* Hero image styling */

 .hero {

    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/palm_springs.jpg");
    background-size: cover;
    background-position: center;
}

    /* Hero iamge overlay text stying */
  .hero .text {
    
    font-family: 'Roboto Mono', monospace; 
    text-align: center;
    position: relative;
    top: 150px;
    left: 50px;
    font-weight: bold;
    font-size: 60px;
    color: white;

  }

  .about-me aside {

    float: left;
    margin-left: 100px;
    margin-bottom: 70px;
   
  }

  #About-Me {

    font-size: 60px;
    padding-right: 30px;

  }

  .about-me aside h1 {

    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    padding-right: 20px;
    padding-top: 20px;
    height: 200px;
    border-right: 3px solid red; 
    margin-bottom: 70px;
   
  }

  .about-me p {

    margin-left: 350px;
    margin-right: 50px;
    margin-bottom: 70px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;

  }

  .work aside {

    float: left;
    margin-left: 100px;
    margin-bottom: 70px;
   
  }

    #My-Work {

    font-size: 60px;
    padding-right: 30px;

    }

  .work aside h1 {

    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    padding-right: 20px;
    margin-left: 26px;
    padding-top: 20px;
    height: 990px;
    border-right: 3px solid red;
    margin-bottom: 70px;
   
  }

    
    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .gallery li #p1 {

      grid-column: 1 / span 2;
      grid-row-start: 1;
      grid-row-end: 1;
      border: 5px solid orange;
      justify-self: end;
    }


    .gallery li {

      justify-self: center;
    }

    .gallery li #p2 {

      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
      border: 5px solid orange;
      max-height: 75%;
    }

    .gallery li #p3 {

      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
      border: 5px solid orange;
      max-height: 75%;
    }

  .contact {

     margin-top: 30px;
  }

  .contact aside {

    float: left;
    margin-left: 100px;
    display: flex;
    margin-bottom: 70px;
   
  }

  #Contact-Me {

    font-size: 60px;
    padding-right: 30px;

  }

  .contact aside h1 {

    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    padding-right: 20px;
    margin-left: 25px;
    padding-top: 20px;
    height: 200px;
    border-right: 3px solid red;
    margin-bottom: 70px;
   
  }

  .contact p {

    margin-left: 350px;
    margin-right: 70px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;

  }

  .list-inline {

      list-style: none;
      margin-left: -0.5em;
      margin-right: -0.5em;
      padding-left: 0;
      padding-top: 150px;
    }

    .list-inline li {

      display: inline-block;
	    margin-left: 0.5em;
	    margin-right: 0.5em;
      
    }

    .list-inline li a {

      text-decoration: none;
      font-size: 50px;
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
      
    }

    .list-inline li a:visited {

      text-decoration: none;
      color: black;
      
    }

    
    @media only screen and (max-width: 768px) {
 
    body {
    width: auto;
    }

  }


    
  

  



 


 


  


  



  